---
title: Projects
---

<html>
<head>
    <title>Hello, world.</title>
</head>
<body>

<h1>List of projects</h1>

{% set projects = collections.projects | eleventyNavigation %}

{{ projects | dump | safe }}

{%- for project in projects -%}

  <article> 

  {% if project.featuredImage %}

    <img src="{{ project.featuredImage.src }}" alt="{{ project.featuredImage.alt }}">

  {% endif %}
  
  <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>

  </article>

{%- endfor %}

</body>
</html>